{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load humanize %}

{% block extra_title %} Shopping cart {% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2 class="text-center">Shopping Bag</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Items in shopping bag for medium screens and above-->
{% if bag_items %}
<div class="row">
    <div class="col">
        <table class="table table-sm table-borderless ml-4 d-none d-md-table">
            <thead>
                <tr>
                    <th>Products</th>
                    <th></th>
                    <th>Price</th>
                    <th class="text-center">Qty</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>

            {% for item in bag_items %}
            <tr class="pe-4">
                <td class="py-3 border-bottom">
                    <a href="{% url 'product_detail' item.product.id %}">
                        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                            alt="{{ item.product.name }}" style="width: 8rem;" class="img-fluid">
                    </a>
                </td>
                <td class="pt-5 pl-0 border-bottom ">
                    <a href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a><br>
                </td>
                <td class="pt-5 border-bottom"><strong>${{ item.product.price }}</strong></td>
                <td class="pt-5 text-center border-bottom">
                    <form class="form update-form pb-3" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                        {% csrf_token %}
                        <div class="mx-auto qty-btns input-group-prepend">
                            {% include 'bag/includes/qty-buttons.html' %}
                        </div>
                    </form>
                </td>
                <td class="pt-5 border-bottom">${{ item.product.price | calc_subtotal:item.quantity | intcomma }}</td>
                <td class="pt-5 text-center border-bottom-0 float-left pr-md-5 pr-lg-0">
                    <p class="small pr-1 mb-0 btn btn-sm update-btn text-info">update</p>
                    <i class="fa fa-trash btn text-danger remove-btn remove_{{ item.item_id }}" aria-hidden="true"></i>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!-- Section for totals  -->
<div class="row pb-5">
    <div class="col">
        <div class="float-md-right ml-md-5 mr-md-5 px-3">
            {% if coupon %}
            <p>Subtotal: ${{ before_coupon|floatformat:2 | intcomma }}</p>
            <p><strong class="text-success">{{ coupon }}</strong> coupon ({{ coupon.discount}}% off): <span
                    class="text-danger">- ${{ discount | floatformat:2 }}</span></p>
            <p><strong>Items: ${{ total|floatformat:2 | intcomma }}</strong></p>
            {% else %}
            <p><strong>Items: ${{ total|floatformat:2 | intcomma }}</strong></p>
            {% endif %}
            {% if not user.is_authenticated and free_delivery_delta > 0 %}
            <p class="text-danger">You could get free delivery by spending just
                <strong>${{ free_delivery_delta | floatformat:2 }}
                </strong>more!</p>
            {% elif free_delivery_delta > 0 %}
            <p class="text-danger">You could get free delivery by spending just
                <strong>${{ free_delivery_delta | floatformat:2 }}
                </strong>more!</p>
            {% endif %}
            {% if delivery is 0 %}
            <p class="text-danger"><s>Delivery: ${{ pre_delivery|floatformat:2 | intcomma }}</s></p>
            {% endif %}
            <p>Delivery: ${{ delivery|floatformat:2 }}</p>

            <!-- Adding a coupon section -->
            <form action="{% url 'coupon_apply' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-6 mb-0">
                        <p>
                            {{ coupon_apply_form.code }}
                        </p>
                    </div>
                    <div>
                        <input type="submit" value="Apply Coupon"
                            class="mt-1 ml-2 border-0 rounded-pill link-btn btn-sm">
                    </div>
                </div>
            </form>
            <h4><strong>Total: ${{ grand_total|floatformat:2 | intcomma }}</strong></h4>
            <div class="pt-3 text-center">
                <a href="{% url 'products' %}" class="btn btn-sm ">
                    <i class="fas fa-chevron-left"></i>
                    Continue Shopping
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-dark">
                    <span class="text-uppercase">Secure checkout</span>
                    <i class="fas fa-lock"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Items view for smaller screens -->
<div class="container d-md-none mb-3">
    <div class="row">
        <div class="col">
            <h6>Bag Summary</h6>
            <hr>
        </div>
    </div>
    {% for item in bag_items %}
    <div class="row">
        <div class="col">
            <a href="{% url 'product_detail' item.product.id %}">
                <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}"
                    alt="{{ item.product.name }}" style="width: 16rem;" class="d-block mx-auto">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="mt-4 mb-1"><strong>{{ item.product.name }}</strong></p>
            <h6><span class="mr-4 mb-1">Price:</span>${{ item.product.price }}</h6>
            <h6 class="font-weight-bold"><span class="mr-4">Subtotal:</span>
                ${{ item.product.price | calc_subtotal:item.quantity | intcomma }}</h6>
            <form class="form update-form pb-3 text-center mt-4" method="POST"
                action="{% url 'adjust_bag' item.item_id %}">
                {% csrf_token %}
                <div class="qty-btns input-group-prepend">
                    {% include 'bag/includes/qty-buttons.html' %}
                </div>
            </form>
            <div class="text-center">
                <p class="small pr-3 mb-0 btn btn-sm update-sm-btn text-info">Update</p>
                <i class="fa fa-trash btn text-danger remove-btn remove_{{ item.item_id }}" aria-hidden="true"></i>
            </div>
            {% if forloop.last %}
            {% else %}
            <hr>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- If nothing added to bag -->
{% else %}
<div class="row">
    <div class="col">
        <p class="text-center">Sorry, no delicious beans in here.
            <br>
            <br>
            <a href="{% url 'products' %}" class="btn btn-lg ">
                <i class="fas fa-chevron-left"></i>
                Continue Browsing for beans
            </a>
        </p>
    </div>
</div>
{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity-script.html' %}
<script>
    // Update Quantity on click
    $('.update-btn').click(function (e) {
        var form = $(this).parent().prev().prev().children('.update-form');
        form[0].requestSubmit();
        console.log('Done');
    });

    // Update Quantity on click for small screens
    $('.update-sm-btn').click(function (e) {
        var form = $(this).parent().siblings('.update-form');
        form.submit();
        console.log('Done');
    });


    // Delete item and reload on click
    $('.remove-btn').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('class').split('remove_')[1];
        let url = `/bag/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock%}