{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ user }} Profile {% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-center">{{ user.username }}'s Profile</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row m-4">
    <!-- Delivery Info -->
    <div class="col-lg-6">
        <h4>Standard Delivery Information:</h4>
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="btn link-btn rounded-pill mx-auto mx-md-0 d-block">Update your information</button>
        </form>
    </div>
    <!-- Order History -->
    <div class="col-lg-6 mt-2 mt-lg-0">
        <hr class="d-lg-none">
        <h4>Order History:</h4>
        {% if orders %}
        <div class="order-history">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Qty</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="border-bottom ">
                        <td class="pt-4">
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:6  }}
                            </a>
                        </td>
                        <td class="pt-4">{{ order.date }}</td>
                        <td class="pt-4">
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                <li>{{ item.product.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="pt-4">
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                <li><span class="small">x</span> {{ item.quantity }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="pt-4">£{{ order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center pt-4">Looks like you dont have any orders yet!</p>
        <p class="text-center">Browse our complete range here.</p>
        <div class="text-center">
            <a href="{% url 'products' %}" class="btn link-btn rounded-pill">Shop Now!</a>
        </div>

        {% endif %}
    </div>
</div>

<!-- Favourite Items, keeping here to update later -->
<div class="row mx-4 mt-2">
    <div class="col-12">
        {% if not orders %}
        <hr class="d-lg-none">
        {% endif %}
        <h4>Favourite Items:</h4>
    </div>
</div>

{% if products %}
<div class="row mx-4 mt-2 mb-4">
    {% for product in products %}
    <div class="col-lg-2 col-md-6 d-flex justify-content-center py-1 px-2">
        <div class="card border-0 rounded" style="width: 100%;">
            {% include 'products/includes/product-card.html' %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="col mb-5">
    <p class="text-center">Looks like you don't have any favourites yet!</p>
</div>

{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock%}