{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %} - Checkout Success!{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col mt-3">
            <h2 class="text-center">Checkout successful!</h2>
            <hr>
            <p class="text-center">Your order information is found below, you will shortly recieve an email confirmation
                sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row px-4 pt-4">
    <div class="col-12 col-lg-7">
        <!-- Summary info order -->
        <div class="order-confirmation-wrapper p-4 border">
            <div class="row mb-2">
                <div class="col">
                    <small class="text-muted">Order Info:</small>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    <p class="mb-0"><strong>Order Number:</strong> <span id='order-no'
                            class="small">{{ order.order_number }}</span></p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <p class="mb-0 text-black"><strong>Order Date:</strong> {{ order.date }}</p>
                </div>
            </div>

            <!-- Item Summary -->
            <div class="row mb-2 font-weight-bold">
                <div class="col-3 d-none d-md-block"></div>
                <div class="col-4 col-md-3">Items</div>
                <div class="col-4 col-md-3 text-center">Qty</div>
                <div class="col-4 col-md-3">Subtotal</div>
            </div>

            {% for item in order.lineitems.all %}
            <div class="row mb-4">
                <div class="col-3 d-none d-md-block">
                    {% if item.product.image %}
                    <img class="w-50" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="w-50" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <div class="col-4 col-md-3">{{ item.product.name }}</div>
                <div class="col-4 col-md-3 text-center">{{ item.quantity }}</div>
                <div class="col-4 col-md-3">£{{ item.product.price | calc_subtotal:item.quantity | intcomma }}</div>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
            </div>

            <!-- Shipping info -->
            <div class="row py-4">
                <div class="col mb-1">
                    <small class="font-weight-bold">Shipping To:</small>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="mb-1">{{ order.full_name }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="mb-1">{{ order.street_address1 }}</p>
                </div>
            </div>

            {% if order.street_address2 %}
            <div class="row">
                <div class="col">
                    <p class="mb-1">{{ order.street_address2 }}</p>
                </div>
            </div>
            {% endif %}

            {% if order.county %}
            <div class="row">
                <div class="col">
                    <p class="mb-1">{{ order.county }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <p class="mb-1">{{ order.town_or_city }}</p>
                </div>
            </div>

            <hr>

            {% if order.postcode %}
            <div class="row">
                <div class="col">
                    <p class="mb-1">{{ order.postcode }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <p class="mb-4">{{ order.country }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0">Phone Number: {{ order.phone_number }}</p>
                </div>
            </div>

            <!-- payment info -->
            <div class="row">
                <div class="col mb-1">
                    <small class=" font-weight-bold">Payment Info:</small>
                </div>
            </div>

            {% if order.coupon %}
            <div class="row">
                <div class="col">
                    <p class="mb-1">Subtotal: {{ order.order_subtotal }} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="mb-1"><span class="text-success">{{ order.coupon }}</span> ({{order.discount}}% off):<span
                            class="text-danger"> -£{{ discount }}</span> </p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <p class="mb-1">Order Total: £{{ order.order_total |intcomma }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-1">Delivery: £{{ order.delivery_cost }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <h3 class="mb-1 font-weight-bold">Grand Total: £{{ order.grand_total | intcomma }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-7">
        {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-outline-black my-2">
            <span class="mr-2">
                <i class="fa-solid fa-chevron-left"></i>
            </span>
            <span>Take me back to my profile!</span>
        </a>
        {% else %}
        <a href="{% url 'products' %}" class="btn btn-outline-black my-2">
            <span class="icon mr-2">
                <i class="fa-solid fa-shop"></i>
            </span>
            <span>Check out some more beans!</span>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}