/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@700&family=Palanquin+Dark&display=swap');


/* Default styling section */
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url("https://res.cloudinary.com/dc06hazhc/image/upload/v1675706269/homepage_background_image_lfgwoj.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Roboto Serif', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'imbue', "Times New Roman", Times, serif;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #706563;
}

.logo {
    font-family: 'imbue', "Times New Roman", Times, serif;
}

.cursor:hover {
    cursor: pointer;
}

main {
    flex-grow: 1;
    margin-top: auto;
}

.container {
    padding-top: 60px;
}

.link-btn {
    background-color: #706563;
    color: white;
}

.link-btn:hover,
.btn-bag:hover {
    background-color: #748386;
    color: white;
}

.hover-link:hover {
    color: #706563;
}

/*------------------ Header */


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(66, 65, 65);
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #555;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important
        /* use important to override the link colors for <a> elements */
    ;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #6c757d;
}

/* products form  */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------------- Toasts messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ------------------------------- Code from css-tricks.com https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* ---------------------------------------- Allauth */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* secondary text */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #6c757d;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn bootstrap */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* hover effect */
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* ---------------------------------------- Footer */

footer {
    background-color: whitesmoke;
    position: absolute;
}

.social-icon {
    color: #748386;
    font-size: 1.75rem;
    padding-right: .5rem;
}

/* Mailchimp */

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

/* Reviews and the stars */

.radio-tag {
    opacity: 0;
}

.product-rating .fa-solid {
    color: gold;
}

.review-stars .fa-star {
    color: gold;
    text-shadow: -1px 1px #000;
}

label {
    cursor: pointer;
}

.star:hover {
    color: gold;
}

/* ---------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .hero-img {
        background: url("https://res.cloudinary.com/dc06hazhc/image/upload/v1675706269/homepage_background_image_lfgwoj.jpg") no-repeat center center fixed;
        background-size: cover;
        height: 90vh;
        font-family: 'Roboto Serif', Arial, Helvetica, sans-serif;
        max-width: 80%;
    }
}

@media (max-width: 1106px) {
    .delivery-charge {
        display: block !important;
    }

    .product-rating {
        font-size: .9rem;

    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 125px;
    }

    .qty-btns {
        width: 95%;
    }

    .product-rating {
        font-size: 1rem;
    }

    .nav-link {
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {

    #hero-logo {
        font-size: 4.5rem;
    }

    body {
        overflow: hidden; /* Hide scrollbars */
    }

}

@media (max-width: 576px) {
    .delivery-banner h4{
        font-size: 1rem;
    }

    #nav-sm {
        background-color: pink;
    }
}

@media (max-width: 460px) {
    .message-container {
        min-width: 0;
        right: 10px;
    }

    .hero-box {
        top: 20px;
    }

    #hero-logo {
        font-size: 3.5rem;
    } 

    #hero-msg {
        font-size: 2.5rem;
    } 

    #hero-slogan {
        font-size: 2rem;
    } 
}

@media (max-width: 380px) {
    .delivery-banner h4{
        font-size: .75rem;
    }

    #hero-logo {
        font-size: 2.25rem;
    }

    #hero-msg {
        font-size: 2rem;
    } 

    #hero-slogan {
        font-size: 1.5rem;
    }
    
    #order-no {
        font-size: .65rem;
    }
    
}
