<div class="container">
    <div class="row footer-content text-center d-flex justify-content-around">

        <!-- the about us section -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">About us</h4>
            <p><a href="{% url 'privacy' %}"><i class="fa-solid fa-shield"></i>Privacy policy</a></p>
            <p><a href="{% url 'terms' %}"><i class="fa-solid fa-file"></i>Terms & conditions</a></p>
            <p><a href="{% url 'delivery' %}"><i class="fa-solid fa-truck"></i>Delivery</a></p>            
        </div>

        <!-- Section for contact info -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">Contact</h4>
            <a href="{% url 'contact' %}">Contact us:</a>
            <address class="mt-3">
                <p>123 This Street<br>
                This Town<br>
                Here<br>
                Zip Code</p>
            </address>
            <p>Phone number: 123-456</p>
            <a href="https://www.facebook.com/Ultimatecoffeeshop" target="_blank">
                <i class="fa-brands fa-square-facebook fa-2x"></i>
                <span class="fa-sr-only">Check out our facebook Page</span>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-2x"></i>
                <span class="fa-sr-only">Check us out on Instagram</span>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube fa-2x"></i>
                <span class="fa-sr-only">Follow our YouTube</span>
            </a>
        </div>

        <!-- Section for payment info -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">Payments</h4>
            <p>Payment is accepted by:<br>
            <i class="fa-brands fa-stripe fa-3x"><span class="fa-sr-only">Stripe - A payment platform</span></i></p>
            <p>We accept following cards:</p>
            <i class="fa-brands fa-cc-visa fa-2x"><span class="fa-sr-only">Visa</span></i>
            <i class="fa-brands fa-cc-mastercard fa-2x"><span class="fa-sr-only">Mastercard</span></i>
            <i class="fa-brands fa-cc-amex fa-2x"><span class="fa-sr-only">Amex</span></i>
        </div>
    </div>

    <!-- Extra information about me, and this website for education purpose -->
    <div class="row educational-purposes text-center pb-5">
        <div class="col">
            <p> Coffee Shop has been created by <a href="https://github.com/jessicafransson" target="_blank">Jessica Fransson</a>
            as a project for e-commerce with Code Institute.</p>
            <p>This site has only been created for educational purposes, and no purchases will be fulfilled.</p>
        </div>
    </div>
</div>