<div class="container">
    <div class="row footer-content text-center d-flex justify-content-around">

        <!-- About coffee shop section -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">About</h4>
            <p><a href="{% url 'privacy' %}"><i class="fa-solid fa-shield"></i> Privacy Policy</a></p>
            <p><a href="{% url 'terms' %}"><i class="fa-solid fa-file"></i> Terms & Conditions</a></p>
            <p><a href="{% url 'delivery' %}"><i class="fa-solid fa-truck"></i> Delivery Policy</a></p>
        </div>

        <!-- Contact coffee shop section -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">Contact us</h4>
            <a href="mailto:malmocoffeeshop@gmail.com" aria-label="send email link">
                <i class="fas fa-envelope me-3"></i>
                malmocoffeeshop@gmail.com
            </a>
            <a href="{% url 'contact' %}">Contact Us Form</a>
            <address class="mt-3">
                <p>
                    Roastery Road<br>
                    Roastery<br>
                    123 Coffee</p>
            </address>
            <p>Phone number: +46 123 456 78</p>
            <a href="https://www.facebook.com/" class="social-icon" target="_blank" rel="noopener nofollow"
                aria-label="Link to Facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-icon" target="_blank" rel="noopener nofollow"
                aria-label="Link to Instagram">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="https://www.twitter.com/" class="social-icon" target="_blank" rel="noopener nofollow"
                aria-label="Link to Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>

        <!-- Payment Section -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">Payments</h4>
            <p>Payments facilitated by <br><i class="fa-brands fa-stripe fa-3x"><span class="fa-sr-only">Stripe - a
                        Payment Processing Platform for the Internet</span></i></p>
            <p>Cards Accepted:</p>
            <i class="fa-brands fa-cc-visa fa-2x"><span class="fa-sr-only">Visa</span></i>
            <i class="fa-brands fa-cc-mastercard fa-2x"><span class="fa-sr-only">Mastercard</span></i>
            <i class="fa-brands fa-cc-amex fa-2x"><span class="fa-sr-only">Amex</span></i>
            <i class="fa-brands fa-cc-discover fa-2x"><span class="fa-sr-only">Discover</span></i>
            <i class="fa-brands fa-cc-diners-club fa-2x"><span class="fa-sr-only">Diners Club</span></i>
        </div>
    </div>
    <!-- Mailchimp signup section -->
    <div class="row align-items-center justify-content-center">
        <div id="mc_embed_signup">
            <form
                action="https://herokuapp.us13.list-manage.com/subscribe/post?u=5f22a4d83085d499abb0a4852&amp;id=7a359fe7a9&amp;f_id=00b996e2f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2>Subscribe</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_5f22a4d83085d499abb0a4852_7a359fe7a9" tabindex="-1" value=""></div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                class="button">
                            <p class="brandingLogo"><a href="http://eepurl.com/ikTvH1"
                                    title="Mailchimp - email marketing made easy and fun"><img
                                        src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="image of monkey for mailchimp logo"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Educational information here -->
        <div class="row educational-purposes text-center pb-5">
            <div class="col">
                <p>Coffee Shop has been created by <a href="https://github.com/jessicafransson" target="_blank" rel="noopener nofollow">Jessica
                        Fransson</a> as a portfolio project for the Code Institutes Level 5 Diploma in Web Application
                    Development.</p>
                <p>As this site has been created for educational purposes, no orders received will be fulfilled.</p>
            </div>
        </div>
    </div>
</div>
