<!-- url's defined here to be used for 'if' statements -->
<!-- Inspiration for navbar from https://tekshinobi.com/setting-active-navbar-link-in-django-template/ -->
{% url 'home' as home %}
{% url 'products' as products %}
{% url 'about' as about %}
{% url 'contact' as contact %}
{% url 'farm' as farm %}
{% url 'flavours' as flavours %}


<!-- Home menu -->
<div class="collapse navbar-collapse text-center mt-2 mt-lg-0" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mx-lg-3 {% if request.path == home %} current-page {% endif %}"
                href="{% url 'home' %}">
                Home
            </a>
        </li>

        <!-- Shop menu-->
        <li class="nav-item dropdown">
            <a class="font-weight-bold color-burgundy mx-lg-3 {% if request.path == products %} current-page {% endif %}"
                href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}" class="dropdown-item">All Items</a>
                <a href="{% url 'products' %}?category=espresso_beans" class="dropdown-item">Espresso Beans</a>
                <a href="{% url 'products' %}?category=pour_over" class="dropdown-item">Pour Over Beans</a>
            </div>
        </li>

        <!-- About us menu-->
        <li class="nav-item dropdown">
            <a class="font-weight-bold color-burgundy mx-lg-3 {% if request.path == about %} current-page {% endif %}"
                href="{% url 'about' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'about' %}" class="dropdown-item">Coffee Shop</a>
                <a href="{% url 'farm' %}" class="dropdown-item">Our Farm</a>
                <a href="{% url 'flavours' %}" class="dropdown-item">Flavour Guide</a>
            </div>
        </li>

        <!-- Contact menu -->
        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mx-lg-3 {% if request.path == contact %} current-page {% endif %}"
                href="{% url 'contact' %}">
                Contact
            </a>
        </li>
    </ul>
</div>
