{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- Sign Out{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block header %}
<div class="container">
  <div class="row">
    <div class="col mt-3">
      <h2 class="text-center">{% trans "Sign Out" %}</h2>
      <hr>
    </div>
  </div>
</div>
{% endblock %}

{% block inner_content %}
<p>{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a href="{% url 'home' %}" class="btn btn-outline-dark rounded-pill">Cancel</a>
  <button class="btn link-btn rounded-pill" type="submit">{% trans 'Log Out' %}</button>
</form>


{% endblock %}