{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- Sign Up{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block header %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
      <div class="col mt-3">
        <h2 class="text-center">{% trans "Sign Up" %}</h2>
        <hr>
      </div>
  </div>
</div>
{% endblock %}

{% block inner_content %}

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a href="{% url 'home' %}" class="btn btn-outline-dark rounded-pill">Cancel</a>
  <button class="btn link-btn rounded-pill" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
