{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}- Verify Your E-mail Address{% endblock %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block header %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
      <div class="col mt-3">
        <h2 class="text-center">{% trans "Verify Your E-mail Address" %}</h2>
        <hr>
      </div>
  </div>
</div>
{% endblock %}

{% block inner_content %}
    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
