{% extends "base.html" %} 


{% block extra_title %} - 404 Error {% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-4">
        <div class="col text-center">
            <h1>404 error</h1>
            <br>
            <h3>Hey you awesome coffee bean!</h3>
            <br>
            <p>We're sorry to say but the way to awesome coffee isn't this way! Take me back home <a href="{% url 'home' %}" class="link-secondary"><u>here</u></a>.
        </div>
    </div>
</div>
{% endblock %}
