{% load static %}

<!doctype html>
<html lang="en">

<head>

    <!-- Meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="Coffee Shop">
    <meta name="Classification" content="business">
    <meta name="keywords" content="coffee, espresso, filter coffee, latte, coffee beans">
    <meta name="owner" content="Jessica Fransson">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Favicon for website title here-->
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Place for scripts -->
    <!-- Placed here to load as early as possible -->
    {% block corejs %}
    <script src="https://kit.fontawesome.com/609b3cc86d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}


    <title>Coffee Shop {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Coffee</strong> Shop</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Sign out</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign up</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Sign in</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-secondary text-white">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <!-- Content of page -->
    <main>
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </main>


    <!--Section for footer -->
    <footer class="w-100 pt-4 px-4 mt-auto fixed-bottom">
        <div class="row gy-4 gx-5">
            <!-- Place for logo -->
            <div class="col-lg-3 col-md-6">
                <h5 class="h1 logo">Coffee Shop</h5>
                <p class="small text-muted">Treat yourself to café style coffee, at home!</p>
                <p class="small text-muted">&copy; Copyrights - 2023 Coffee Shop</p>
            </div>
            <!-- Contact info -->
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-3"><strong>Get in touch</strong></h5>
                <a href="{% url 'contact' %}">Contact Us Form</a>
                <div class="row">
                    <div class="col-4 col-md-6">
                        <p>Address:</p>
                    </div>
                    <div class="col-8 col-md-6 small pl-0">
                        <p class="mb-0">Roastery Road</p>
                        <p class="mb-0">Roastery</p>
                        <p>123 Coffee</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-6">
                        <p>Phone number:</p>
                    </div>
                    <div class="col-8 col-md-6 small pl-0">
                        <a href="tel:+46-123-456-789">+46 123 456 789</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-6">
                        <p>Email address:</p>
                    </div>
                    <div class="col-8 col-md-6 small pl-0">
                        <a href="mailto:malmocoffeeshop@gmail.com">malmocoffeeshop@gmail.com</a>
                    </div>
                </div>
                <p>
                    <a href="https://www.facebook.com" class="social-icon" target="_blank" rel="noopener"
                        aria-label="Link to Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="social-icon" target="_blank" rel="noopener"
                        aria-label="Link to Instagram">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                    <a href="https://www.twitter.com/" class="social-icon" target="_blank" rel="noopener"
                        aria-label="Link to Twitter">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </p>
            </div>
            <!-- Section about us and for terms and conditions -->
            <div class="col-sm-3 pb-5">
                <h4 class="pb-3">Terms and conditions</h4>
                <p><a href="{% url 'privacy' %}"><i class="fas fa-duotone fa-shield-halved"></i> Privacy Policy</a></p>
                <p><a href="{% url 'terms' %}"><i class="fas fa-solid fa-file"></i> Terms & Conditions</a></p>
                <p><a href="{% url 'delivery' %}"><i class="fas fa-solid fa-truck"></i> Delivery Policy</a></p>
            </div>
            <!-- Sign up for newsletter -->
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3"><strong>Our Newsletter</strong></h5>
                <p class="small text-muted mb-0">Sign up to our newsletter to not miss deals, new products etc.</p>
                <!-- place here for mailchimp -->
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <!-- Js for messages/toasts -->
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    <!-- possibility to rotate mobile menu -->
    <script>
        $(".rotate").click(function () {
            $(this).toggleClass("down");
        })
    </script>
    {% endblock %}
</body>

</html>