{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Our Coffee Farm{% endblock %}

{% block page_header %}
<div class="container-flex">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2 class="text-center">Farm De La Coffee</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <!-- Place for image, image from pexels.com -->
        <div class="col-md-6">
            <img src="{{ MEDIA_URL }}coffee_farm.webp" class="img-fluid" alt="A picture from our farm, plants of coffee">
            <p class="text-center font-italic text-muted mt-1">Our beautiful view on our farm</p>
            <div class="text-center">
                <a href="{% url 'contact' %}" class="btn link-btn rounded-pill">Contact us</a>
                <a href="{% url 'products' %}" class="btn link-btn rounded-pill">Check out our selection</a>
            </div>
        </div>
{% endblock %}