{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Flavour guide {% endblock %}

{% block page_header %}
<div class="container-flex">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2 class="text-center">Flavour Guide</h2>
            <p>In fresh ground coffee there can be up to 1000 different aromas.
                To guide you to the correct coffee we have divided these into 4 different categories
                to help you find your way!</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <!-- Place for image, image from pexels.com -->
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/dc06hazhc/image/upload/v1675527863/the_outsider_kkuogr.webp" class="img-fluid"
                alt="A highlight photo of one of our beans in a bag">
            <p class="text-center font-italic text-muted mt-1">Coffee of the month!</p>

            <!-- Buttons for shop and contact -->
            <div class="text-center">
                <a href="{% url 'contact' %}" class="btn link-btn rounded-pill">Contact us</a>
                <a href="{% url 'products' %}" class="btn link-btn rounded-pill">Check out our selection</a>
            </div>
        </div>

<div class="col-md-6 mt-4 mt-md-0">
    <h3><strong>1. Soft and round</strong></h3>
    <p>
        Here we find the coffee without pronounced fruitiness and acidity,
        instead of the coffee in this category is prnounced soft and mild in character.<br>
        They often go very well with milk, or to be brewed in an espresso machine.
        They are often medium-bodied and have more or less pronounced sweetness.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong>chocolate, caramell and nuts.
        <br>
        This one would be our <strong>Daily Brew, Daily Espresso, The Outsider.</strong>
    </p>
    <br>
    <h3><strong>2. Fruity and tasty</strong></h3>
    <p>
        In this category you will find the coffee where the fruit aromas are
        clear and which are fuller than the coffees you find in the Fresh & Elegant flavour type.
        These coffees also have a pronounced sweetness.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong>tropical fruit, cherry, strawberry, blueberry and vanilla.
        <br>
        This one would be our <strong>Prime Brew, Prime Espresso.</strong>
    </p>

    <h3><strong>3. Fresh and elegant</strong></h3>
    <p>
        Coffee in this category is usually a little lighter in taste and has a nice balance between berry sweetness and
        acidity.
        The acidity here can be more or less pronounced.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong> apple, citrus, gooseberry, kiwi and jasmine.
        <br>
        We don't stock a bean like this just yet, but <strong>Good things are comming.</strong>
    </p>

    <h3><strong>4. Spicy and full</strong></h3>
    <p>
        Here you will find a powerful coffee that is both full-bodied and often has a roasted character.
        Spicy is a characteristic of the coffee, which mainly comes from Sumatra and India.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong>dried fruit, dark berries, dark chocolate, cedar and tobacco.
        <br>
        This one would be our <strong>Radical Brew, Radical Espresso, The Hobo.</strong>
        <br>
    </p>
</div>
{% endblock %}
