{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Flavour guide {% endblock %}

{% block page_header %}
<div class="container-flex">
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2 class="text-center">Flavour Guide</h2>
            <p>In fresh ground coffee there can be up to 1000 different aromas.
                To guide you to the correct coffee we have divided these into 4 different categories
                to help you find your way!</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="col-md-6 mt-4 mt-md-0">
    <h3><strong>1. Soft and round</strong></h3>
    <p>
        Here we find the coffee without pronounced fruitiness and acidity,
        instead of the coffee in this category is prnounced soft and mild in character.<br>
        They often go very well with milk, or to be brewed in an espresso machine.
        They are often medium-bodied and have more or less pronounced sweetness.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong>chocolate, caramell and nuts.
    </p>
    <br>
    <h3><strong>2. Fruity and tasty</strong></h3>
    <p>
        In this category you will find the coffee where the fruit aromas are
        clear and which are fuller than the coffees you find in the Fresh & Elegant flavour type.
        These coffees also have a pronounced sweetness.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong>tropical fruit, cherry, strawberry, blueberry and vanilla.
    </p>

    <h3><strong>3. Fresh and elegant</strong></h3>
    <p>
        Coffee in this category is usually a little lighter in taste and has a nice balance between berry sweetness and
        acidity.
        The acidity here can be more or less pronounced.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong> apple, citrus, gooseberry, kiwi and jasmine.
    </p>

    <h3><strong>4. Spicy and full</strong></h3>
    <p>
        Here you will find a powerful coffee that is both full-bodied and often has a roasted character.
        Spicy is a characteristic of the coffee, which mainly comes from Sumatra and India.
        <br>
        <br>
        <strong>Flavour words to be found here is: </strong>dried fruit, dark berries, dark chocolate, cedar and tobacco.
    </p>
</div>



{% endblock %}