{% extends "base.html" %}
{% load static %}

{% block extra_title %} Admin Management - Add products {% endblock %}


{% block page_header %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2 class="text-center">Product Management</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="row mx-4 mb-4">
            <h4>Add an item:</h4>
        </div>
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                    <div class="text-md-right text-center pt-3">
                        <a class="btn btn-outline-dark rounded-pill" href="{% url 'products' %}">Cancel</a>
                        <button class="btn link-btn rounded-pill" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
